@media screen and (min-width: 700px){

    html{
        /* display: flex;
        justify-content: center;
        align-items: center;
    
        position: relative;*/
        margin: 0%;
        height: 100%; 
    }   
    
    body{
        /* text-align: center;
        display: block; */
        width: 100%;
        margin: 0%;
     
    } 
    
    #title_div{
        display: flex;
        position: absolute;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 85px; 
        background: var(--portfolio-yellow, #FFEE58);
        justify-content: center;
        text-align: center;
        height: 577px;
        margin: 0%; 
    
    }
    #title{
        position: absolute;
        color: var(--portfolio-blue, #81D4FA);
        /* Portfolio/64px-Bold */
        font-family: Noto Sans JP;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        top: 186px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #content_bar{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;    
        transform: translate(-50%, -50%);
        display: block;
        justify-content: center;
        text-align: center; 
        align-items: flex-start;
        top:373px;
        padding: 0%; 
    
    }
    #about_title{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/32px-Regular */
        font-family: Noto Sans JP;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 51.2px */
        margin: 0 50px; /* 適宜調整 */
    }
    
    #skill_title{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/32px-Regular */
        font-family: Noto Sans JP;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 51.2px */
        margin: 0 50px; /* 適宜調整 */
    }
    #work_title{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/32px-Regular */
        font-family: Noto Sans JP;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 51.2px */
        margin: 0 50px; /* 適宜調整 */
    }
    #contact_title{    
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/32px-Regular */
        font-family: Noto Sans JP;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 51.2px */
        margin: 0 10px; /* 適宜調整 */
    }
    #about_div{
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-shrink: 0;
        top: 860px;
        align-items: center;
    
    }
    
    #about_flex{
        display: flex;
        position: relative; 
        justify-content: center;
        top: 80px;
    }
    
    
    #About{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/64px-Bold */
        display: inline;
        position:absolute;
        justify-content: center;
        left: 50%;
        margin: 0%;
        font-family: Noto Sans JP;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        transform: translate(-50%, -50%);
    
    
    }
    #about_div img{
        position:relative;
        width: 290px;
        height: 290px;
        flex-shrink: 0;
        top:-40px;
        left:120px;
        display: inline-block;
        z-index: 2;
    }
    
    #circle{
        position:relative;
        width: 290px;
        height: 290px;
        border-radius: 50%;
        flex-shrink: 0;
        top:-40px;
        left:-150px;
        background: #81D4FA;
        z-index: 1;/*背景色*/
    }
    
    #about_contents{
        position:relative;
        text-align: left;
        width: 692px;
        left:-150px;
        z-index: 2;
    
    }
    
    
    #about_contents p{
        display: inline-block;
        text-align: left;
        z-index: 2;
        margin: 10px;
        left:15%;
    }
    
    
    #skill_div{
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-shrink: 0;
        top: 1407.05px;
        /* top: 1500px; */
        align-items: center;
    
    
    }
    
    #Skill{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/64px-Bold */
        display: inline;
        position:absolute;
        justify-content: center;
        left: 50%;
        margin: 0%;
        font-family: Noto Sans JP;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        transform: translate(-50%, -50%);
    
    }
    
    #skill_flex{
        display: flex;
        position: relative; 
        justify-content: center;
        top: 80px;
    }
    
    #skill_contents{
        position:relative;
        text-align: left;
        width: 692px;
    
    }
    
    #skill_contents p{
        display: inline-block;
        text-align: left;
        left:15%;
    }
    
    #work_div{
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-shrink: 0;
        top:1843.05px;
        /* top: 2200px; */
        align-items: center;
        padding-bottom: 10px
    
    }
    
    #Work{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/64px-Bold */
        display: inline;
        position:absolute;
        justify-content: center;
        left: 50%;
        margin: 0%;
        font-family: Noto Sans JP;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        transform: translate(-50%, -50%);
    }
    
    #work_flex{
        display: flex;
        position: relative; 
        justify-content: center;
        top: 80px;
    }
    
    #work_contents{
        position:relative;
        text-align: left;
        width: 692px;
    
    }
    
    #work_contents p{
        display: inline-block;
        text-align: left;
        left:15%;
    }
    
    #contact_div{
        /* position: absolute;
        display: block;
        width: 100%;
        flex-shrink: 0;
        top:2663.05px; */
    
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-shrink: 0;
        top:3350.05px;
        align-items: center;
        padding-top: 10rem;    
    
    }
    
    
    #Contact{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/64px-Bold */
        display: inline;
        position:absolute;
        justify-content: center;
        left: 50%;
        margin: 0%;
        font-family: Noto Sans JP;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        transform: translate(-50%, -50%);
    }
    
    #contact_flex{
        display: flex;
        position: relative; 
        justify-content: center;
        top: 80px;
        
    }
    
    #contact_contents{
        position:relative;
        text-align: left;
        width: 692px;
    
    }
    
    #contact_contents p{
        display: inline-block;
        text-align: left;
        left:15%;
    }
    
    
    footer {
        display: flex;
        position: absolute;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 85px; 
        background: var(--portfolio-yellow, #FFEE58);
        justify-content: center;
        text-align: center;
        height: 46px;
        top:3750px;
        margin: 0%; 
    }
    
    .marker {
        /* border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px; */
        /* height: 10px; */
        background: linear-gradient(transparent 0%, #81D4FA 80%); 
        background-position: 0 80%;
        background-size: 0% 0px;
        background-repeat: no-repeat;
        transition: background-size 1s ease;
        z-index: -1;
      }
      .marker.active {
    
        background-size: 100% 10px;
      }
}

@media screen and (max-width: 700px){
    html{
        /* display: flex;
        justify-content: center;
        align-items: center;
    
        position: relative;*/
        margin: 0%;
        height: 100%;
        
        width: 100%; 
    }   
    
    body{
        /* text-align: center;
        display: block; */
        width: 100%;
        margin: 0%;
     
    } 
    
    #title_div{
        display: flex;
        position: absolute;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 85px; 
        background: var(--portfolio-yellow, #FFEE58);
        justify-content: center;
        text-align: center;
        height: 577px;
        margin: 0%; 
        height: 100%;
    
    }
    #title{
        position: absolute;
        color: var(--portfolio-blue, #81D4FA);
        /* Portfolio/64px-Bold */
        font-family: Noto Sans JP;
        font-size: 250%;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        top: 30%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5%;
    }
    #content_bar{
        position: absolute;
        left: 50%;   
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        text-align: center; 
        align-items: flex-start;
        top: 80%;
        padding: 0%;
        width: 100%; 
        flex-wrap: wrap;
    
    }
    #about_title{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/32px-Regular */
        font-family: Noto Sans JP;
        font-size: 160%;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 51.2px */
        margin: 5%; /* 適宜調整 */
        width: 25%;



    }
    
    #skill_title{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/32px-Regular */
        font-family: Noto Sans JP;
        font-size: 160%;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 51.2px */
        margin: 5%; /* 適宜調整 */
        width: 25%;


    }
    #work_title{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/32px-Regular */
        font-family: Noto Sans JP;
        font-size: 160%;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 51.2px */
        margin: 5%; /* 適宜調整 */
        width: 25%;


    }
    #contact_title{    
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/32px-Regular */
        font-family: Noto Sans JP;
        font-size: 160%;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 51.2px */
        margin: 5%; /* 適宜調整 */
        width: 25%;


    }
    #about_div{
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-shrink: 0;
        top: 120%;
        height: 100%;
        align-items: center;
        
    
    }
    
  #about_flex{
        /* display:flex; */
        position: relative; 
        justify-content: center;
        /* text-align:center;
        align-items: center; */
        /* top: 80px; */ 
    } 
    
    
    #About{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/64px-Bold */
        display: inline;
        position:absolute;
        justify-content: center;
        left: 50%;
        margin: 0%;
        font-family: Noto Sans JP;
        font-size: 250%;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        transform: translate(-50%, -50%);
    
    
    }
    #about_div img{
        position:relative;
        width: 50%;
        height: 50%;
        left: 25%;
        flex-shrink: 0;
        top:70px;
        display: inline-block;
        
        z-index: 2;

    }
    
    /* #circle{
        position:relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        flex-shrink: 0;
        left: 180px;
        top:-140px;
        background: #81D4FA;
        display: flex;
        z-index: 1;/*背景色*/
    /*} */
    
    #about_contents{
        position:relative;
        text-align: left;
        width: 100%;
        top:120px;
        z-index: 2;
        
    
    }
    
    
    #about_contents p{
        display: inline-block;
        position:relative;
        text-align: left;
        margin: 5%;
        z-index: 2;
        font-size: 16px;
    
    }
    
    
    #skill_div{
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-shrink: 0;
        /* top: 3500.05px; */
        /* top: 1800px; */
        top: 2000px;
        align-items: center;
        
    
    
    }
    
    #Skill{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/64px-Bold */
        display: inline;
        position:absolute;
        justify-content: center;
        left: 50%;
        margin: 0%;
        font-family: Noto Sans JP;
        font-size: 250%;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        transform: translate(-50%, -50%);
    
    }
    
    #skill_flex{
        display: flex;
        position: relative; 
        justify-content: center;
        top: 80px;
    }
    
    #skill_contents{
        position:relative;
        text-align: left;

    
    }
    
    #skill_contents p{
        display: inline-block;
        text-align: left;
        margin: 5%;
        left:15%;
        font-size: 16px;
    }
    
    #work_div{
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-shrink: 0;
        /* top:1843.05px;*/
        /* top: 2400px;  */
        top: 2800px;
        align-items: center;
    
        
    }
    
    #Work{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/64px-Bold */
        display: inline;
        position:absolute;
        justify-content: center;
        left: 50%;
        margin: 0%;
        font-family: Noto Sans JP;
        font-size: 250%;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        transform: translate(-50%, -50%);
    }
    
    #work_flex{
        display: flex;
        position: relative; 
        justify-content: center;
        top: 80px;
    }
    
    #work_contents{
        position:relative;
        text-align: left;
        width: 100%;
    
    }
    
    #work_contents div{
        display: inline-block;
        text-align: left;
        left:15%;
        word-break: break-all;
        font-size: 16px;
        margin: 5%;
    }
    
    #contact_div{
        /* position: absolute;
        display: block;
        width: 100%;
        flex-shrink: 0;
        top:2663.05px; */
    
        position: absolute;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-shrink: 0;
        top:6600px;
        align-items: center;
    
    
    }
    
    
    #Contact{
        color: var(--portfolio-orange, #FFA000);
        /* Portfolio/64px-Bold */
        display: inline;
        position:absolute;
        justify-content: center;
        left: 50%;
        margin: 0%;
        font-family: Noto Sans JP;
        font-size: 250%;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 102.4px */
        transform: translate(-50%, -50%);
    }
    
    #contact_flex{
        display: flex;
        position: relative; 
        justify-content: center;
        top: 80px;
        
    }
    
    #contact_contents{
        position:relative;
        text-align: left;
        width: 692px;
    
    }
    
    #contact_contents p{
        display: inline-block;
        text-align: left;
        left:15%;
        font-size: 16px;
        margin: 5%;
    }
    
    
    footer {
        display: flex;
        position: absolute;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 85px; 
        background: var(--portfolio-yellow, #FFEE58);
        justify-content: center;
        text-align: center;
        height: 46px;
        top:6800px;
        margin: 0%; 
        font-size: 16px;
        



    }
    
    .marker {
        /* border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px; */
        /* height: 10px; */
        background: linear-gradient(transparent 0%, #81D4FA 80%); 
        background-position: 0 80%;
        background-size: 0% 0px;
        background-repeat: no-repeat;
        transition: background-size 1s ease;
        z-index: -1;
      }
      .marker.active {
    
        background-size: 100% 10px;
      }
    }




